python-dotenv
groq
AppOpener
pywhatkit
bs4
pillow
rich
requests
keyboard
googlesearch-python
selenium
mtranslate
pygame
edge-tts
PyQt5
webdriver-manager
cohere
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
numpy
opencv-python
pyttsx3
